<!-- <div class="container">
  <p-card styleClass="card">
    <div class="regForm">
      <ng-template pTemplate="title">
        <h2>Signup Here</h2>
      </ng-template>
      <ng-template pTemplate="cotent">
        <div>
          <label for="email">Email</label>
          <input type="text" pInputText placeholder="Email-Id" />
        </div>
        <div>
          <label for="password">Email</label>
          <input type="password" pInputText placeholder="Password" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton label="Signup"></button>
      </ng-template>
    </div>
  </p-card>
</div> -->

<p-card class="container">
  <div style="text-align: center; color: crimson; margin-bottom: 30px">
    <u><h2>Login Here</h2></u>
  </div>
  <hr style="width:100% ;">
  <div>
    <form
      [formGroup]="project"
      style="border-radius: 1px solid black"
      autocomplete="off"
    >
      <p>
        <span class="p-float-label p-fluid">
          <input type="text" id="username" pInputText formControlName="email" />
          <label for="username">Username</label><br />
          <small
            *ngIf="
              !project.get('username')?.valid &&
              project.get('username')?.touched
            "
          >
            <span style="color: red"> Please enter valid username. </span>
          </small>
        </span>
      </p>
      <p>
        <span class="p-float-label p-fluid">
          <input
            type="password"
            id="password"
            pInputText
            formControlName="password"
          />
          <label for="password">Password</label><br />
          <small
            *ngIf="
              !project.get('password')?.valid &&
              project.get('password')?.touched
            "
          >
            <span style="color: red"> Please enter valid Password. </span>
          </small>
        </span>
      </p>
    </form>
    <!-- <p-divider></p-divider> -->

    <div class="p-fluid" style="text-align: center;margin-top: 30px; ">
      <button
        [disabled]="!project.valid"
        pButton
        label="Login"
        (click)="onSave()"
      ></button> <br>
      <b> Dont have and Account</b> <a routerLink="/signup"> signUp here</a>
    </div>
  </div>
</p-card>
